.header {
    padding: 20px 0;

    &__text {
        margin: 0;
        font-size: 30px;
        line-height: 34px;
        font-weight: 400;
        text-align: center;
        display: block;
    }
}